.home-screen img{
    position: absolute;
    top: 111px;
    width: 120%;
    left: 188px;
}

.home-mackbook .play-button{
    right: 55px;
    left: unset;
}


.img-screen{
    position: absolute;
    top: 17%;
    right: -32px;
}

.img-screen img {
    width: 113%;
    margin-left: 137px;
}

.img-screen-left{
    position: absolute;
    top: 17%;
    left: -29px;
}

.img-screen-left img{
    width: 127%;
    margin-left: -140px;
}

@media (max-width: 1200px) {
    .img-screen img{
        margin-left: 109px;
    }

    .img-screen-left img {
        width: 115%;
        margin-left: -177px;
    }

    .home-screen img{
        position: absolute;
        top: 103px;
        width: 112%;
        left: 161px;
    }

    .shema{
        padding: 15px;
    }

    .varWork {
        background: #fff;
        padding: 15px;
        border-radius: 10px;
        -webkit-box-shadow: 0 14px 50px 0 rgba(5, 16, 44, .15);
        box-shadow: 0 14px 50px 0 rgba(5, 16, 44, .15);
        margin-bottom: 9px;
    }
    
}

@media (max-width: 992px) {
    .contact-f-2{
        justify-content: flex-start;
      }  
      .contact-f-3{
        justify-content: flex-start;
      }  
    .spinner-load{
        width: 100%;
    }
    .logo-img{
        width: 60px;
    }

    .home-mackbook .play-button{
        left: 50%;
    }

    .home-screen img {
        position: absolute;
        top: 73px;
        width: 64%!important;
        left: 133px;
    }
    .navbar {
        position: fixed;
        padding: 0 15px;
        background-color: rgb(250, 251, 255);
        border-radius: 0 0 10px 10px;
        -webkit-box-shadow: 0 10px 20px 0 rgba(5, 16, 44, .15);
        box-shadow: 0 10px 20px 0 rgba(5, 16, 44, .15);
    }

    .col-12.col-md-6.header-macbook{
        width: 100%;
        display: block;
        max-width: 100%;
        flex: 0 0 100%;
    }

    .header-macbook img{
        width: 100%;
        margin-left: 0;
    }

    .img-screen img{
        width: 61%;
    }

    .img-screen img {
        margin-left: 131px;
    }

    .col-12.col-md-6.header-mob{
        width: 100%;
        display: block;
        max-width: 100%;
        flex: 0 0 100%;
    }

    .col-12.col-md-7.header-mob-left{
        width: 100%;
        display: block;
        max-width: 100%;
        flex: 0 0 100%;
    }

    .header-mob  img {
        width: 100%;
        margin-left: 0;
    }

    .img-screen-left img{
        width: 61%;
    }

    .img-screen-left img {
        margin-left: 161px;
    }

    .header-tooltip{
        display: none;
    }

    .varworks{
        margin-top: 30px;
    }

    .varWork{
        margin-bottom: 20px;
    }
}


@media (max-width: 769px) {
    .col-sm-12.col-md-6.main-title{
        flex: 0 0 100%;
        max-width: 100%;
        margin-top: 120px;
        text-align: center;
    }
}

@media (max-width: 767px) {

    .marg-r-0{
        padding-right: 0;
    }

    .home-title{
        color: #000;
    }

    .home-title b{
        color: #000;
    }
    .home-title span{
        color: #000;
    }

    .main-title{
        margin-top: 120px;
    }

    .main-title .main-suptitle{
        font-size: 20px;
    }

    .img-screen img{
        width: 59%;
    }

    .img-screen img {
        margin-left: 101px;
    }

    .img-screen-left img{
        width: 60%;
    }

    .img-screen-left img {
        margin-left: 129px;
    }

    .bg-scroll .header-button,
    .header-button,
    .bg-map,
    .line,
    .social-icons,
    .header-phone,
    .header-macbook{
        display: none;
    }

    .sm-ac,
    .main-title {
        text-align: center;
    }

    .scroll-arrow {
        color: rgb(250, 251, 255);
    }

    h1 {
        color: rgb(250, 251, 255);
    }

    .main-suptitle: {
        opacity: 1;
        color: rgb(250, 251, 255);
    }

    .footer-copyright,
    footer,
    .call-to-action,
    .video {
        text-align: center;
        height: 100%;
    }

    footer .row {
        height: 100%;
        text-align: center;
    }

    .footer-nav li {
        display: block;
        margin: auto;
    }

    .footer-nav {
        width: 100%;
        margin-bottom: 15px;
    }

    .footer-copyright {
        text-align: center;
    }
    .footer-brand .logo {
        margin: 15px auto;
    }

    .hiw-item div {
        margin: 0 auto 30px;
    }

    .author,
    .hiw-item {
        text-align: center;
    }
    .navbar-collapse {
        padding: 30px 0;
    }

    .submit {
        font-weight: bold;
        width: 120px;
        height: 55px;
        margin: 0 auto;
    }

    .popup-window {
        width: 100%;
    }

    .contact-social-icons ul {
        text-align: center;
    }

    .testimonials-tooltip p {
        text-align: center;
        margin-right: 0;
    }

    .submit-modal{
        width: 100%;
    }

    .home-screen img {
        position: absolute;
        top: 54px;
        width: 63%!important;
        left: 101px;
    }
}


@media (max-width: 520px) {
    

    .submit-modal{
        width: 100%;
    }

    .header-macbook img{
        display: none;
    }

    .header-macbook .img-screen{
        position: relative;
        right: 0;
    }

    .header-macbook .img-screen img{
        display: block;
        width: 100%;
        margin-left: 0;
    }

    .header-mob img{
        display: none;
    }

    .header-mob .img-screen-left{
        position: relative;
        right: 0;
        left: 0;
    }

    .header-mob .img-screen-left img{
        display: block;
        width: 100%;
        margin-left: 0;
    }


    .home-screen img {
        position: relative;
        top: 0;
        width: 100%!important;
        left: 0;
    }

    .home-screen img{
        display: block;
    }

    .present-btn{
        display: block;
        width: 100%;
        margin: 20px 0;
    }

    .cost-btn{
        margin: 0;
        margin-top: 20px
    }

    .hiw{
        margin-top: 100px;
    }

}

