/* -------------------------------------------

Name: 		App Showcase
Author:		Nazar Miller (millerDigitalDesign)
Portfolio:  https://themeforest.net/user/millerdigitaldesign/portfolio?ref=MillerDigitalDesign

p.s. I am available for Freelance hire (UI design, web development). mail: miller.themes@gmail.com

Common:

0. Fonts
1. Preloader
2. Common styles
3. Typography
4. Buttons

Sections:

5. Navigation
6. Header
7. How it works
8. Features
9. Video
10. About
11. Call to action
12. Testimonials
13. Stats
14. Blog
15. Price
16. Contact
17. Footer

/******************************

Fonts

******************************/

@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese');
@import url('https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&subset=latin-ext');

/******************************

Preloader

******************************/

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #F7F8FC;
  height: 100%;
  z-index: 999999999999999999999999999999999;
}

.status {
  width: 50px;
  height: 30px;
  position: fixed;
  left: 50%;
  top: 50%;
  margin: -25px 0 0 -15px;
}

.spinner {
  margin: 0px auto;
  width: 50px;
  height: 30px;
  text-align: center;
  font-size: 10px;
}

.spinner > div {
  background-color: #fff;
  height: 100%;
  width: 6px;
  display: inline-block;
  -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
  animation: stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes stretchdelay {
  0%, 40%, 100% {
    -webkit-transform: scaleY(0.4);
  }
  20% {
    -webkit-transform: scaleY(1);
  }
}

@keyframes stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }
  20% {
    transform: scaleY(1);
    -webkit-transform: scaleY(1);
  }
}

/******************************

Common Styles

******************************/

body {
    position: relative;
    background-color: #F7F8FC;
    color: #414B61;
    padding: 0;
    margin: 0;
    border: none;
    width: 100%;
}

.page-wrap {
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
}

section {
    position: relative;
    width: 100%;
}

*,
*:focus {
    outline: inherit;
}

*::-moz-selection {
    background-color: transparent;
}

*::selection {
    background-color: transparent;
}

.p-90-60 {
    padding: 90px 0 60px;
}

.p-0-60 {
    padding: 0 0 60px;
}

.mb-30 {
    margin-bottom: 30px;
}

.mb-90 {
    margin-bottom: 90px;
}

/******************************

Typography

******************************/

.h1,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto', sans-serif;
}

button,
p,
a,
li {
    font-family: 'Nunito', sans-serif;
}

a {
    cursor: pointer;
}

a:hover {
    text-decoration: none;
}

b {
    font-weight: 600;
}

.bold {
    font-weight: bold;
}

.thin {
    font-weight: 100;
}

.gray {
    color: #607D8B;
}

.light {
    color: #90A4AE;
}

.dark {
    color: #414B61;
}

.mute {
    color: #CFD8DC;
}

.small {
    font-size: 80%;
    margin-bottom: 5px;
}

.white-light {
    opacity: .9;
    color: #F7F8FC;
    letter-spacing: 1px;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    padding-right: 40px;

}

.white {
    color: #F7F8FC;
}

hr {
    margin-left: 0;
    width: 50%;
}

/******************************

Buttons

******************************/

.button {
    cursor: pointer;
    display: inline-block;
    padding: 15px 30px;
    color: #F7F8FC;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    margin: 15px 15px 0 0;
    -webkit-box-shadow: 0 15px 30px 0 rgba(5, 16, 44, .15);
    box-shadow: 0 15px 30px 0 rgba(5, 16, 44, .15);
    transition: .4s;
    -webkit-transition: .4s;
}

.button:hover {
    color: rgb(250, 251, 255);
    -webkit-box-shadow: 0 20px 30px 0 rgba(5, 16, 44, .18);
    box-shadow: 0 20px 30px 0 rgba(5, 16, 44, .20);
    -webkit-transform: translateY(-3px) scale(1.01);
    transform: translateY(-3px) scale(1.01);
}

.link {
    white-space: nowrap;
    font-weight: bold;
    transition: .4s;
    -webkit-transition: .4s;
}

.link:hover {
    color: #414B61;
}

.link .fas {
    font-size: 13px;
    opacity: 0;
    -webkit-transition: .4s;
    transition: .4s;
}

.link:hover .fas {
    opacity: 1;
    margin-left: 5px;
}

.white-link {
    font-weight: bold;
    opacity: .7;
    color: #F7F8FC;
    transition: .4s;
    -webkit-transition: .4s;
}

.white-link:hover {
    opacity: 1;
    color: #F7F8FC;
}

.white-link .fas {
    font-size: 13px;
    opacity: 0;
    transition: .4s;
    -webkit-transition: .4s;
}

.white-link:hover .fas {
    opacity: 1;
    margin-left: 5px;
}

/******************************

Navigation

******************************/

.navbar {
    padding: 0px 0;
    position: fixed;
    z-index: 9998;
    border: none;
    width: 100%;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    -webkit-transition: .3s;
    transition: .3s;
}

.navbar .container {
    position: relative;
}

.bg-scroll {
    background-color: rgb(250, 251, 255);
    border-radius: 0 0 0px 0px;
    -webkit-box-shadow: 0 5px 10px 0 rgba(5, 16, 44, .15);
    box-shadow: 0 5px 10px 0 rgba(5, 16, 44, .15);
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
}

.navbar ul li a {
    color: #414B61;
    font-weight: bold;
    width: 100%;
    height: 100%;
    font-size: 15px;
}

.navbar ul li {
    margin: 0 5px;
    padding: 5px 10px;
    border-radius: 5px;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    -webkit-transition: .4s;
    transition: .4s;
}

.navbar ul .active,
.navbar ul li:hover {
    background-color: rgb(250, 251, 255);
    border-radius: 5px;
    -webkit-box-shadow: 0 10px 20px 0 rgba(5, 16, 44, .15);
    box-shadow: 0 10px 20px 0 rgba(5, 16, 44, .15);
    -webkit-transform: translateY(-3px) scale(1.01);
    transform: translateY(-3px) scale(1.01);
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
}

.logo {
    height: 60px;
    width: 60px;
    -webkit-box-shadow: 0 10px 28px 1px rgba(3, 13, 40, 0.23);
    box-shadow: 0 10px 28px 1px rgba(3, 13, 40, 0.23);
    color: rgb(250, 251, 255);
    border-radius: 50%;
    text-align: center;
    padding-top: 7px;
    font-weight: bolder;
    font-size: 32px;
}

.navbar-toggler,
.burger-menu {
    padding: 0;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.navbar-toggler:active,
.navbar-toggler:focus {
    outline: inherit;
}

.burger {
    position: absolute;
    background: #414B61;
    width: 30px;
    height: 4px;
    top: 37px;
    right: 5px;
    border-radius: 2px;
    margin-top: -5px;
    opacity: 1;
}

.burger::before {
    position: absolute;
    background: #414B61;
    width: 30px;
    height: 4px;
    top: 10px;
    border-radius: 2px;
    content: "";
    display: block;
}

.burger::after {
    position: absolute;
    background: #414B61;
    width: 30px;
    height: 4px;
    bottom: 10px;
    border-radius: 2px;
    content: "";
    display: block;
}

.burger::after,
.burger::before,
.burger {
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
}

.burger-menu.menu-on .burger::after {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    bottom: 0px;
}

.burger-menu.menu-on .burger::before {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    top: 0px;
}

.burger-menu.menu-on .burger {
    background: transparent;
}

.navbar .header-button {
    display: none;
    -webkit-transition: .4s;
    transition: .4s;
}

.bg-scroll .header-button {
    display: block;
    -webkit-transition: .4s;
    transition: .4s;
}

.header-button {
    position: absolute;
    right: 15px;
}

.header-button .nav-link {
    color: #fff;
}

.navbar-collapse {
    z-index: 9999999999;
}

/******************************

Header

******************************/

.header {
    width: 100%;
    height: 100vh;
}

.header .container {
    position: relative;
    height: 100%;
}

.header-row {
    height: 100%;
}

.header-phone img {
    padding-top: 30px;
    width: 100%;
}

.header-macbook img {
    width: 190%;
    margin-left: -50px;
}

.social-icons {
    position: absolute;
    z-index: 99;
    top: 0;
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
}

.social-icons ul {
    padding: 0;
    margin: auto;
}

.social-icons ul li {
    list-style-type: none;
    margin: 15px;
}

.social-icons ul li a i {
    color: #F7F8FC;
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    -webkit-transition: .4s;
    transition: .4s;
}

.social-icons ul li a i:hover {
    color: rgb(250, 251, 255);
    -webkit-transform: translateY(-2px) scale(1.05);
    transform: translateY(-2px) scale(1.05);
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.header-tooltip p {
    position: absolute;
    left: 30px;
    bottom: -8px;
}

.header-tooltip {
    position: absolute;
    bottom: 30px;
    min-width: 300px;
    display: inline-block;
}

.scroll-arrow {
    font-size: 25px;
    color: #414B61;
}

.scroll-arrow:hover {
    color: #414B61;
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
}

/******************************

How it Works

******************************/

.hiw-item div {
    opacity: 1;
    text-align: center;
    font-weight: bold;
    height: 80px;
    width: 80px;
    font-size: 29px;
    line-height: 80px;
    color: #F7F8FC;
    border-radius: 50%;
    padding:0;
    -webkit-box-shadow: 0 10px 20px 0 rgba(5, 16, 44, .15);
    box-shadow: 0 10px 20px 0 rgba(5, 16, 44, .15);
}

.line {
    position: absolute;
    width: 100%;
    margin-left: -28vw;
    top: 300px;
    height: 6px;
    background-color: rgb(250, 251, 255);
    -webkit-box-shadow: 0 2px 5px 0 rgba(5, 16, 44, .07);
    box-shadow: 0 2px 5px 0 rgba(5, 16, 44, .07);
}

/******************************

Features

******************************/

.flat-features {
    text-align: center;
    margin: 0 auto;
    width: 100%;
    border-radius: 10px;
}

.card-features {
    text-align: center;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    padding: 30px 30px 15px;
    background-color: rgb(250, 251, 255);
    border-radius: 10px;
    -webkit-box-shadow: 0 10px 30px 0 rgba(5, 16, 44, .15);
    box-shadow: 0 10px 30px 0 rgba(5, 16, 44, .15);
}

.flat-features img {
    margin: 0 auto;
    width: 30%;
    margin-bottom: 15px;
}

.card-features img {
    margin: 0 auto;
    width: 30%;
    margin-bottom: 15px;
}

/******************************

Video

******************************/

.video {
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-box-shadow: 0 15px 30px 0 rgba(5, 16, 44, .15);
    box-shadow: 0 15px 30px 0 rgba(5, 16, 44, .15);
}

.play-button {
    position: absolute;
    bottom: 50%;
    left: 50%;
    padding: 18px 0 0 2px;
    font-size: 18px;
    margin-bottom: -30px;
    margin-left: -30px;
    text-align: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    color: #fff;
    -webkit-box-shadow: 0 15px 30px 0 rgba(5, 16, 44, .15);
    box-shadow: 0 15px 30px 0 rgba(5, 16, 44, .15);
    -webkit-transition: .4s;
    transition: .4s;
}

.play-button:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-box-shadow: 0 20px 30px 0 rgba(5, 16, 44, .18);
    box-shadow: 0 20px 30px 0 rgba(5, 16, 44, .20);
}

.play-frame {
    position: relative;
    left: 50%;
    margin-left: -70px;
    padding: 40px;
    text-align: center;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    background-image: linear-gradient(100deg, rgba(255, 255, 255, .1) 50%, rgba(255, 255, 255, 0.00) 50%);
}

/******************************

About

******************************/

.about-phone img {
    width: 100%;
}

/******************************

Call To Action

******************************/

.call-to-action {
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-box-shadow: 0 15px 30px 0 rgba(5, 16, 44, .15);
    box-shadow: 0 15px 30px 0 rgba(5, 16, 44, .15);
}

.call-to-action .button {
    margin-top: 0;
}

/******************************

Testimonials

******************************/

.item {
    width: 100%;
}

.testimonial {
    width: 100%;
    padding: 0 15px;
}

.dialog {
    background-color: rgb(250, 251, 255);
    padding: 30px 30px 15px;
    border-radius: 10px;
    -webkit-box-shadow: 0 10px 20px 0 rgba(5, 16, 44, .15);
    box-shadow: 0 10px 18px 0 rgba(5, 16, 44, .15);
}

.dialog:after {
    content: '';
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 20px 18px 0 18px;
    border-color: rgb(250, 251, 255) transparent transparent transparent;
    position: absolute;
    bottom: 120px;
    left: 55px;
}

.user-name {
    padding: 30px 30px 60px;
}

.user-name .user {
    border-radius: 50%;
    overflow: hidden;
    width: 60px;
    height: 60px;
    float: left;
    margin-right: 15px;
    -webkit-box-shadow: 0 10px 20px 0 rgba(5, 16, 44, .15);
    box-shadow: 0 10px 18px 0 rgba(5, 16, 44, .15);
}

.testimonial-slider {
    margin: 0 -15px 60px;
}

.testimonials-tooltip p {
    text-align: right;
    margin-right: 30px;
}

.nav-container {
    text-align: right;
    padding: 17px 30px;
}

.nav-container p {
    padding-right: 30px;
}

.nav-container div {
    color: rgb(250, 251, 255);
    margin: 7.5px 2.5px 2.5px;
    cursor: pointer;
    position: relative;
    text-align: right;
    padding: 3px 10px;
    display: inline-block;
    border-radius: 50%;
    -webkit-box-shadow: 0 15px 30px 0 rgba(5, 16, 44, .15);
    box-shadow: 0 15px 30px 0 rgba(5, 16, 44, .15);
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    -webkit-transition: .4s;
    transition: .4s;
}

.nav-container div:hover {
    color: rgb(250, 251, 255);
    -webkit-box-shadow: 0 20px 30px 0 rgba(5, 16, 44, .18);
    box-shadow: 0 20px 30px 0 rgba(5, 16, 44, .20);
    -webkit-transform: translateY(-3px) scale(1.01);
    transform: translateY(-3px) scale(1.01);
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.brands .item img {
    width: 100px;
    margin: 0 auto;
}

/* ---------------------------------------

Price

--------------------------------------- */

.pricing-table {
    text-align: center;
    cursor: default;
    margin: 0 auto;
    width: 100%;
    padding: 30px;
    background-color: rgb(250, 251, 255);
    border-radius: 10px;
    -webkit-box-shadow: 0 10px 30px 0 rgba(5, 16, 44, .15);
    box-shadow: 0 10px 30px 0 rgba(5, 16, 44, .15);
    -webkit-transition: .4s;
    transition: .4s;
}

.pricing-table:hover {
    -webkit-box-shadow: 0 20px 30px 0 rgba(5, 16, 44, .18);
    box-shadow: 0 20px 30px 0 rgba(5, 16, 44, .20);
    -webkit-transform: translateY(-3px) scale(1.01);
    transform: translateY(-3px) scale(1.01);
}

.pricing-table ul {
    padding: 0;
}

.pricing-detail li {
    list-style-type: none;
    padding: 5px;
}

.price span {
    font-size: 36px;
}

.screens-1 img {
    width: 100%;
}

.price-header {
    font-size: 28px;
}

/* ---------------------------------------

Stats

--------------------------------------- */

.stats {
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-box-shadow: 0 15px 30px 0 rgba(5, 16, 44, .15);
    box-shadow: 0 15px 30px 0 rgba(5, 16, 44, .15);
}

.stats i {
    font-size: 36px;
    margin-bottom: 15px;
}

.numeric {
    font-size: 36px;
}

/* ---------------------------------------

Blog

--------------------------------------- */

.blog-card img {
    width: 100%;
    -webkit-transition: .4s;
    transition: .4s;
}

.blog-description {
    padding: 25px 25px 15px;
}

.blog-frame {
    border-radius: 10px 10px 0 0;
    position: relative;
    overflow: hidden;
}

.blog-card {
    z-index: 9;
    cursor: pointer;
    background-color: rgb(250, 251, 255);
    overflow: hidden;
    height: 100%;
    position: relative;
    border-radius: 10px;
    -webkit-box-shadow: 0 10px 30px 0 rgba(5, 16, 44, .15);
    box-shadow: 0 10px 30px 0 rgba(5, 16, 44, .15);
    -webkit-transition: .4s;
    transition: .4s;
}

.blog-card:hover {
    -webkit-box-shadow: 0 20px 30px 0 rgba(5, 16, 44, .18);
    box-shadow: 0 20px 30px 0 rgba(5, 16, 44, .20);
    -webkit-transform: translateY(-3px) scale(1.01);
    transform: translateY(-3px) scale(1.01);
}

.blog-card:hover.blog-card img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.more-tooltip {
    opacity: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    padding-top: 6.5px;
    margin-left: -17.5px;
    margin-top: -17.5px;
    height: 35px;
    width: 35px;
    color: rgb(250, 251, 255);
    border-radius: 50%;
    text-align: center;
    z-index: 999999999999;
    -webkit-box-shadow: 0 2px 400px 5000px rgba(0, 0, 0, 0.40);
    box-shadow: 0 2px 400px 5000px rgba(0, 0, 0, 0.40);
    -webkit-transition: .4s;
    transition: .4s;
}

.more-tooltip:hover {
    color: rgb(250, 251, 255);
    -webkit-transform: translateY(-3px) scale(1.01);
    transform: translateY(-3px) scale(1.01);
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.blog-card:hover .more-tooltip {
    opacity: 1;
}

/* ---------------------------------------

Contact

--------------------------------------- */

input {
    padding: 12px 16px;
    width: 100%;
    /* height: 60px; */
    border: none;
    background-color: rgb(250, 251, 255);
    border-radius: 5px;
    margin-bottom: 30px;
    -webkit-box-shadow: 0 10px 30px 0 rgba(5, 16, 44, .15);
    box-shadow: 0 10px 30px 0 rgba(5, 16, 44, .15);
    transition: .4s;
    -webkit-transition: .4s;
    border: 1px solid #ddd;
}

input:focus {
    -webkit-box-shadow: 0 20px 30px 0 rgba(5, 16, 44, .18);
    box-shadow: 0 20px 30px 0 rgba(5, 16, 44, .20);
    -webkit-transform: translateY(-3px) scale(1.01);
    transform: translateY(-3px) scale(1.01);
}

textarea {
    padding: 12px 16px;
    width: 100%;
    border: none;
    background-color: rgb(250, 251, 255);
    border-radius: 5px;
    margin-bottom: 30px;
    -webkit-box-shadow: 0 10px 30px 0 rgba(5, 16, 44, .15);
    box-shadow: 0 10px 30px 0 rgba(5, 16, 44, .15);
    border: none;
    transition: .4s;
    -webkit-transition: .4s;
    border: 1px solid #ddd;
}

textarea:focus {
    -webkit-box-shadow: 0 20px 30px 0 rgba(5, 16, 44, .18);
    box-shadow: 0 20px 30px 0 rgba(5, 16, 44, .20);
    -webkit-transform: translateY(-3px) scale(1.01);
    transform: translateY(-3px) scale(1.01);
}

::-webkit-input-placeholder {
    color: #CFD8DC;
}

:-ms-input-placeholder {
    color: #CFD8DC;
}

::placeholder {
    color: #CFD8DC;
}

:-ms-input-placeholder {
    color: #CFD8DC;
}

::-ms-input-placeholder {
    color: #CFD8DC;
}

.submit {
    cursor: pointer;
    width: 60px;
    height: 130px;
    color: #F7F8FC;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    -webkit-box-shadow: 0 15px 30px 0 rgba(5, 16, 44, .15);
    box-shadow: 0 15px 30px 0 rgba(5, 16, 44, .15);
    transition: .4s;
    -webkit-transition: .4s;
}

.submit:hover {
    color: rgb(250, 251, 255);
    -webkit-box-shadow: 0 20px 30px 0 rgba(5, 16, 44, .18);
    box-shadow: 0 20px 30px 0 rgba(5, 16, 44, .20);
    -webkit-transform: translateY(-3px) scale(1.01);
    transform: translateY(-3px) scale(1.01);
}

.popup {
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    bottom: 0;
    left: 0;
    z-index: 99999999999;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
}

.n-active-popup {
    display: none;
}

.active-popup {
    display: block;
    -webkit-animation: fadeIn .5s;
    animation: fadeIn .5s;
}

.popup-window {
    border-radius: 10px;
    text-align: center;
    margin: auto;
    margin-top: 30vh;
    padding: 30px 0 35px;
    width: 400px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .04);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .04);
    background-color: #fff;
}

.popup-window img {
    margin: auto;
    width: 60px;
    margin-bottom: 30px;
}

.popup-window .item-title {
    margin: 0 auto;
}

.popup-window .text {
    margin: 10px auto 0;
}

.contact .container {
    position: relative;
}

.bg-map {
    top: -60px;
    position: absolute;
    width: 100%;
    opacity: .03;
    padding: 0 5%;
}

.bg-map img {
    width: 90%;
}

.contact-social-icons ul {
    text-align: right;
    padding: 15px 0;
}

.contact-social-icons ul li {
    display: inline-block;
    list-style-type: none;
    margin: 15px;
}

.contact-social-icons ul li a i {
    color: #414B61;
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    -webkit-transition: .4s;
    transition: .4s;
}

.contact-social-icons ul li a i:hover {
    color: #414B61;
    -webkit-transform: translateY(-2px) scale(1.05);
    transform: translateY(-2px) scale(1.05);
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

/* ---------------------------------------

Footer

--------------------------------------- */

.footer-nav {
    padding: 0;
    float: right;
    margin: auto;
}

.footer-nav li {
    display: inline-block;
    list-style-type: none;
}

footer {
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-box-shadow: 0 15px 30px 0 rgba(5, 16, 44, .15);
    box-shadow: 0 15px 30px 0 rgba(5, 16, 44, .15);
}

.footer-copyright {
    background-color: #263238;
}

.footer-copyright .row {
    height: 100%;
    padding: 15px 0 7.5px;
}

.footer-copyright a {
    color: #F7F8FC;
}

.footer-copyright a:hover {
    text-decoration: underline;
}

.footer-nav li a {
    font-weight: bold;
    opacity: .7;
    color: #F7F8FC;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    -webkit-transition: .4s;
    transition: .4s;
}

.footer-nav li a:hover {
    opacity: 1;
    color: #F7F8FC;
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
}

.author {
    text-align: right;
}

/* ---------------------------------------

Blog page

--------------------------------------- */

.header-blog {
    height: 60vh;
    padding-top: 100px;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-box-shadow: 0 15px 30px 0 rgba(5, 16, 44, .15);
    box-shadow: 0 15px 30px 0 rgba(5, 16, 44, .15);
}

.header-blog .container {
    position: relative;
    height: 100%;
}

.header-row {
    height: 100%;
}

.navbar-blog {
    position: fixed;
    padding: 15px;
    background-color: rgb(250, 251, 255);
    border-radius: 0 0 10px 10px;
    -webkit-box-shadow: 0 10px 20px 0 rgba(5, 16, 44, .15);
    box-shadow: 0 10px 20px 0 rgba(5, 16, 44, .15);
}

.pagination {
    margin-bottom: 30px;
}

.pagination .page-item .page-link {
    border: none;
    padding: 15px 20px;
    background-color: transparent;
    border-radius: 5px;
    font-weight: bold;
    color: #414B61;
    -webkit-transition: .3s;
    transition: .3s;
}

.pagination .page-item .active,
.pagination .page-item .page-link:hover {
    background-color: rgb(250, 251, 255);
    -webkit-box-shadow: 0 20px 30px 0 rgba(5, 16, 44, .18);
    box-shadow: 0 20px 30px 0 rgba(5, 16, 44, .20);
    -webkit-transform: translateY(-3px) scale(1.01);
    transform: translateY(-3px) scale(1.01);
}

.post-text img{
    width: 100%;
    border-radius: 10px;
    -webkit-box-shadow: 0 10px 30px 0 rgba(5, 16, 44, .15);
    box-shadow: 0 10px 30px 0 rgba(5, 16, 44, .15);
    margin-bottom: 90px;
}

blockquote {
    border-radius: 10px;
    font-style: italic;
    padding: 30px;
    background-color: #eee;
}

.input-group input {
    border-radius: 10px;
    border: none;
    border-radius: 10px;
    padding-left: 20px;
    outline: inherit;
}

.input-group input:focus {
    outline: inherit;
    -webkit-transform: none;
    transform: none;
}

.input-group button {
    border-radius: 0 10px 10px 0;
    border: none;
    color: #F7F8FC;
    border-radius: 10px;
    padding-left: 30px;
    padding-right: 30px;
}

/* ---------------------------------------

Demo

--------------------------------------- */

.demo-screen img{
    width: 100%;
    border-radius: 10px;
    -webkit-box-shadow: 0 15px 30px 0 rgba(5, 16, 44, .15);
    box-shadow: 0 15px 30px 0 rgba(5, 16, 44, .15);
    transition: .4s;
    -webkit-transition: .4s;
}

.demo-screen img:hover{
    -webkit-box-shadow: 0 20px 30px 0 rgba(5, 16, 44, .18);
    box-shadow: 0 20px 30px 0 rgba(5, 16, 44, .20);
    -webkit-transform: translateY(-3px) scale(1.01);
    transform: translateY(-3px) scale(1.01);
}


.button {
    cursor: pointer;
    display: inline-block;
    padding: 15px 30px;
    color: #F7F8FC;
    letter-spacing: 0.5px;
    font-weight: bold;
    border: none;
    border-radius: 50px;
    margin: 15px 15px 0 0;
    -webkit-box-shadow: 0 15px 30px 0 rgba(5, 16, 44, .15);
    box-shadow: 0 15px 30px 0 rgba(5, 16, 44, .15);
    transition: .4s;
    -webkit-transition: .4s;
}

.button:hover {
    color: rgb(250, 251, 255);
    
}


.box {
    cursor: pointer;
    height: 60px;
    width: 60px;
    border-radius: 5px;
    margin-bottom: 10px;
    -webkit-box-shadow: 0 15px 30px 0 rgba(5, 16, 44, .15);
    box-shadow: 0 15px 30px 0 rgba(5, 16, 44, .15);
    transition: .4s;
    -webkit-transition: .4s;
}

.box:hover {
    color: rgb(250, 251, 255);
    -webkit-box-shadow: 0 20px 30px 0 rgba(5, 16, 44, .18);
    box-shadow: 0 20px 30px 0 rgba(5, 16, 44, .20);
    -webkit-transform: translateY(-3px) scale(1.01);
    transform: translateY(-3px) scale(1.01);
}

#color-theme-1 {
    background-image: url(../img/thumb/thumb-1.png);
    background-size: cover;
}

#color-theme-2 {
    background-image: url(../img/thumb/thumb-2.png);
    background-size: cover;
}

#color-theme-3 {
    background-image: url(../img/thumb/thumb-3.png);
    background-size: cover;
}

#color-theme-4 {
    background-image: url(../img/thumb/thumb-4.png);
    background-size: cover;
}

#color-theme-5 {
    background-image: url(../img/thumb/thumb-5.png);
    background-size: cover;
}

.color-switcher {
    top: 30%;
    position: fixed;
    padding: 10px 10px 0;
    margin-left: -80px;
    z-index: 999;
    background-color: rgb(250, 251, 255);
    border-radius: 0 0 5px 0;
    -webkit-box-shadow: 0 10px 20px 0 rgba(5, 16, 44, .15);
    box-shadow: 0 10px 20px 0 rgba(5, 16, 44, .15);
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    -webkit-transition: .3s;
    transition: .3s;
}

.active-switcher {
    top: 30%;
    position: fixed;
    padding: 10px 10px 0;
    margin-left: 0px;
    z-index: 999;
    background-color: rgb(250, 251, 255);
    border-radius: 0 0 5px 0;
    -webkit-box-shadow: 0 10px 20px 0 rgba(5, 16, 44, .15);
    box-shadow: 0 10px 20px 0 rgba(5, 16, 44, .15);
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    -webkit-transition: .3s;
    transition: .3s;
}

.cog {
    cursor: pointer;
    position: absolute;
    left: 80px;
    top: 0;
    padding-top: 9px;
    text-align: center;
    height: 40px;
    width: 40px;
    color: #fff;
    background-color: rgb(250, 251, 255);
    border-radius: 0 5px 5px 0;
    -webkit-box-shadow: 0 10px 20px 0 rgba(5, 16, 44, .15);
    box-shadow: 0 10px 20px 0 rgba(5, 16, 44, .15);
}

.cog i {
    font-size: 20px;
}

.main-title h1
{
    font-size: 2.3rem; 
}

.main-title h1 b
{
    font-weight: 900;
    letter-spacing: 1px;
}


.header-mob img {
    width: 180%;
    margin-left: -350px;
}

.p-blok
{
    font-family: roboto;
    font-weight: 300;
    font-size: 14px;
    color: #90A4AE;
    /*border-bottom: 1px dotted ;*/
}

.p-blok i
{
    padding-right: 10px;
    color: #9ab93e;
}

.p-blok  span
{
   border-bottom: 1px dotted ;
   display: inline-block ;
   cursor: pointer;
}
.p-blok  span:hover
{
   border-bottom: 1px dotted transparent;
  
}


.btn--shockwave{
    cursor: pointer;
}

.btn--shockwave.is-active {
    -webkit-animation: shockwaveJump 1s ease-out infinite;
            animation: shockwaveJump 1s ease-out infinite;
  }
  .btn--shockwave.is-active:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 50%;
    -webkit-animation: shockwave 1s .65s ease-out infinite;
            animation: shockwave 1s .65s ease-out infinite;
  }
  .btn--shockwave.is-active:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 50%;
    -webkit-animation: shockwave 1s .5s ease-out infinite;
            animation: shockwave 1s .5s ease-out infinite;
  }
  
  @-webkit-keyframes shockwaveJump {
    0% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
    40% {
      -webkit-transform: scale(1.08);
              transform: scale(1.08);
    }
    50% {
      -webkit-transform: scale(0.98);
              transform: scale(0.98);
    }
    55% {
      -webkit-transform: scale(1.02);
              transform: scale(1.02);
    }
    60% {
      -webkit-transform: scale(0.98);
              transform: scale(0.98);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  
  @keyframes shockwaveJump {
    0% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
    40% {
      -webkit-transform: scale(1.08);
              transform: scale(1.08);
    }
    50% {
      -webkit-transform: scale(0.98);
              transform: scale(0.98);
    }
    55% {
      -webkit-transform: scale(1.02);
              transform: scale(1.02);
    }
    60% {
      -webkit-transform: scale(0.98);
              transform: scale(0.98);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  @-webkit-keyframes shockwave {
    0% {
      -webkit-transform: scale(1);
              transform: scale(1);
      box-shadow: 0 0 2px rgba(154, 185, 62, 0.15), inset 0 0 1px rgba(154, 185, 62, 0.15);
    }
    95% {
      box-shadow: 0 0 50px rgba(154, 185, 62, 0), inset 0 0 30px rgba(154, 185, 62, 0);
    }
    100% {
      -webkit-transform: scale(2.25);
              transform: scale(2.25);
    }
  }
  @keyframes shockwave {
    0% {
      -webkit-transform: scale(1);
              transform: scale(1);
      box-shadow: 0 0 2px rgba(154, 185, 62, 0.15), inset 0 0 1px rgba(154, 185, 62, 0.15);
    }
    95% {
      box-shadow: 0 0 50px rgba(154, 185, 62, 0), inset 0 0 30px rgba(154, 185, 62, 0);
    }
    100% {
      -webkit-transform: scale(2.25);
              transform: scale(2.25);
    }
  }


  .modal{
      z-index: 9999;
  }

  .modal-backdrop.show{
    z-index: 9998;
  }

  
  .modal.fade{
    opacity:1;
  }
  .modal.fade .modal-dialog {
     -webkit-transform: translate(0);
     -moz-transform: translate(0);
     transform: translate(0);
  }

  .modal-content{
      border-radius: 10px;
  }

  .modal-header{
    background: #9ab93e;
    padding: 25px;
  }

  .modal-body{
    padding: 25px;
    background: #F7F8FC;
  }

  .modal-body input{
    padding: 12px 16px;
    width: 100%;
    /* height: 60px; */
    -webkit-box-shadow: 0 10px 22px 0 rgba(5, 16, 44, .15);
    box-shadow: 0 10px 22px 0 rgba(5, 16, 44, .15);
    border: 1px solid #ddd;
    margin-bottom: 20px;
  }

  .modal-title{
      color: #fff;
  }

  .modal-header .close{
      color: #fff;
      outline: none;
  }

  .modal-content{
      border: none!important;
  }

  .modal-header .close:visited,
  .modal-header .close:active,
  .modal-header .close:focus{
      outline: none;
  }

  .submit-modal{
    width: 100%;
    height: 50px;
  }

  .incorect-input{
    border: 1px solid red!important;
    color: red!important;;
  }

  .incorect-input::-webkit-input-placeholder{
      color: red!important;
  }

  .modal-body textarea{
    height: 80px;
    min-height: 80px;
    max-width: 80px;
    width: 100%;
    max-width: 100%;
  }

  .modal-body form {
      width: 100%;
  }

  .row-modal{
      margin: 0;
  }

  .form-select{
    padding: 7px 20px;
    width: 100%;
    height: 37px;
    -webkit-box-shadow: 0 10px 22px 0 rgba(5, 16, 44, .15);
    box-shadow: 0 10px 22px 0 rgba(5, 16, 44, .15);
    border: 1px solid #f9fafe;

    background-color: rgb(250, 251, 255);
    border-radius: 10px;
    margin-bottom: 30px;
    -webkit-box-shadow: 0 10px 30px 0 rgba(5, 16, 44, .15);
    box-shadow: 0 10px 30px 0 rgba(5, 16, 44, .15);
    transition: .4s;
    -webkit-transition: .4s;
  }

  .form-select:focus {
    -webkit-box-shadow: 0 20px 30px 0 rgba(5, 16, 44, .18);
    box-shadow: 0 20px 30px 0 rgba(5, 16, 44, .20);
    -webkit-transform: translateY(-3px) scale(1.01);
    transform: translateY(-3px) scale(1.01);
    outline: none;
    border: 1px solid #fff;
}


.custom-select {
    list-style-type: none;
    padding: 13px 0;
    width: 100%;
    height: 50px;
    -webkit-box-shadow: 0 10px 22px 0 rgba(5, 16, 44, .15);
    box-shadow: 0 10px 22px 0 rgba(5, 16, 44, .15);
    border: 1px solid #ddd;

    background-color: rgb(250, 251, 255);
    border-radius: 5px;
    margin-bottom: 20px;
    -webkit-box-shadow: 0 10px 30px 0 rgba(5, 16, 44, .15);
    box-shadow: 0 10px 30px 0 rgba(5, 16, 44, .15);
    transition: .4s;
    -webkit-transition: .4s;
    text-align: left;
    cursor: pointer;
    display: inline-block;
    position: relative;
  }

  .custom-select:focus {
    -webkit-box-shadow: 0 20px 30px 0 rgba(5, 16, 44, .18);
    box-shadow: 0 20px 30px 0 rgba(5, 16, 44, .20);
    -webkit-transform: translateY(-3px) scale(1.01);
    transform: translateY(-3px) scale(1.01);
    outline: none;
    border: 1px solid #fff;
}

  .custom-select li {
    padding: 0;
    text-indent: 1em;
    position: relative;
    z-index: 99;
  }
  .custom-select li .options {
    display: block;
    list-style-type: none;
    padding: 0;
    margin: 0.4em 0 0 0;
    background: transparent;
    position: absolute;
    width: 100%;
    max-height: 0px;
    overflow: hidden;
    border: 3px solid transparent;
    top: 1.2em;
    transition: all ease 0.25s;
    /* background-color: #f9fbff!important; */
  }
  .custom-select li .options li {
    padding: 0.4em 0;
    border-bottom: 1px solid #eee;
    color: #000;
  }
  .custom-select li .options li:hover {
    background: rgba(255, 255, 255, 0.2);
  }
  .custom-select li .options li:last-of-type {
    border-bottom: 0;
  }
  .custom-select li .options.open {
    border-radius: 5px;
    background: #f9fbff;
    max-height: 1000%;
    margin-top: 30px;
    border: 1px solid #eee;
    overflow-y: scroll;
    max-height: 190px;
  }
  

  .selected-option{
    color: #CFD8DC;
  }


  .activeselect{
      color: #000;
  }

  #form-section textarea{
      max-height: 130px;
      min-height: 130px;
  }


  .faster{
    animation-duration: 0.1s;
  }


  #home-form-btn:focus{
    outline: none;
  }


  .spinner-load {
    /* margin: 100px auto; */
    width: 50px;
    height: 40px;
    text-align: center;
    font-size: 10px;

    display: none;
  }
  
  .spinner-load > div {
    background-color: #fff;
    height: 100%;
    width: 3px;
    display: inline-block;
    
    -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
    animation: sk-stretchdelay 1.2s infinite ease-in-out;
  }
  
  .spinner-load .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
  }
  
  .spinner-load .rect3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
  }
  
  .spinner-load .rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
  }
  
  .spinner-load .rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
  }
  
  @-webkit-keyframes sk-stretchdelay {
    0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
    20% { -webkit-transform: scaleY(1.0) }
  }
  
  @keyframes sk-stretchdelay {
    0%, 40%, 100% { 
      transform: scaleY(0.4);
      -webkit-transform: scaleY(0.4);
    }  20% { 
      transform: scaleY(1.0);
      -webkit-transform: scaleY(1.0);
    }
  }


  .p-blok span:hover{
      color: #9ab93e;
  }

  .p-blok span:active{
    color: #9ab93e;
  }

  .active-link-slider{
    color: #9ab93e;
  }
  .section-arch{
    padding-top: 60px;
  }

  .section-arch .section-title{
    text-align: center;
    margin-bottom: 60px;
  }

  .shema{
    background: #fff;
    padding: 20px;
    border-radius: 10px;

    -webkit-box-shadow: 0 10px 30px 0 rgba(5, 16, 44, .15);
    box-shadow: 0 10px 30px 0 rgba(5, 16, 44, .15);
  }

  .varWork{
    background: #fff;
    padding: 20px;
    border-radius: 10px;

    -webkit-box-shadow: 0 10px 30px 0 rgba(5, 16, 44, .15);
    box-shadow: 0 10px 30px 0 rgba(5, 16, 44, .15);
    margin-bottom: 46px;
  }

  .varWork p{
    font-weight: 600;
  }

  .varWork-count{
    background-color: #88a532;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: #fff;
    margin-bottom: 15px;
  }

  .shema img{
      width: 100%;
  }

  .section-arch .mb-10{
      margin-bottom: 10px;
  }

  .phone-address-email{
      margin-bottom: 40px;
  }

  .phone-address-email i{
      display: flex;
      font-size: 40px;
      /* margin-right: 20px; */
      color: #9ab93e;
  }

  .phone-address-email span{
      display: flex;
      font-weight: 600;
      font-size: 15px;
  }

  .phone-address-email .cont-flex{
      display: flex;
      align-items: center;
      margin-bottom: 15px;
  }

  .contact-i{
    min-width: 60px;
  }

  .contact-f-1{
      justify-content: flex-start;
  }

  .contact-f-2{
    justify-content: center;
  }  
  .contact-f-3{
    justify-content: flex-end;
  }  

.home-mackbook img{
    margin-left: -150px;
}


.header-mob-left img{
    width: 160%;
}



.img-screen-left a{
    display: block;
}

  /* ПОТІМ ЗАБРАТИ після того як розкоментують------------------*/

  .about-2{
      margin-top: -60px;
  }
  .pb-0{
      padding-bottom: 0;
  }

/* VIDEO HOME VIDEO SECTION  */

.header-tooltip{
    display: none;
}

  .video-section{
      display: none;
  }

  .home-play-btn{
    display: none; 
  }