.bg-color-1 {
   /* background-image: linear-gradient(-179deg, #5CF854 0%, #3EBA1F 100%);*/
     background: #9ab93e;
}

.bg-color-2 {
    /*background-image: -webkit-gradient(linear, left top, left bottom, from(#26C1B9), to(#1E879A));
    background-image: linear-gradient(-180deg, #26C1B9 0%, #1E879A 100%);*/

    background: #9ab93e;
}

.nav-container div {
    background-image: linear-gradient(-179deg, #5CF854 0%, #3EBA1F 100%);
}

.header-bg {
    background-image: url(../../img/backgrounds-min/slice-header-min.png);
}

.header-blog,
.stats,
footer,
.video,
.call-to-action {
    background: #88a532;
    /*background-image: url(../../img/backgrounds-min/slice-min.png);*/
}

@media (max-width: 768px) {
    .header-bg {
        background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(238, 238, 238, 0.00)), to(rgba(216, 216, 216, 0.00)));
        background-image: linear-gradient(-180deg, rgba(238, 238, 238, 0.00) 0%, rgba(216, 216, 216, 0.00) 100%);
    }
    header {
        background-image: url(../../img/backgrounds-min/slice-min.jpg);
        background-position: center;
    }
}
